{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('lib/bootstrap/dist/css/bootstrap.min.css') }}">
    <script src="{{ asset('lib/webcomponentsjs/webcomponents-lite.js') }}"></script>
    <link rel="import" href="{{ asset('lib/polymer/polymer.html') }}">
    <link rel="import" href="{{ asset('lib/iron-ajax/iron-ajax.html') }}">
    {% block customWebcomponent %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">

        </table>
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}